<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="bibliotecas-en">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>#Libraries > São Paulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="start" slot="fixed">
    <ion-fab-button color="danger" href="biblioteca-mil-form-en">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card class="welcome-card">
      <img src="/assets/biblioteca-usp.jpg" alt="São Paulo" />
      <ion-card-header>
        <ion-card-title>USP Library</ion-card-title>
        <ion-card-subtitle>Butantã</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br />
        <p>
          <ion-button expand="block" href="cidade-en">Online Collection</ion-button>
        </p>
        <p>
          <ion-button expand="block" href="cidade-en">Academic papers</ion-button>
        </p>
        <p>
          <ion-button expand="block" href="cidade-en">Routes</ion-button>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/biblioteca-municipal.jpg" alt="São Paulo" />
      <ion-card-header>
        <ion-card-title>Municipal Library</ion-card-title>
        <ion-card-subtitle>República</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        <br />
        <p>
          <ion-button expand="block" href="cidade-en">Online Collection</ion-button>
        </p>
        <p>
          <ion-button expand="block" href="cidade-en">Academic papers</ion-button>
        </p>
        <p>
          <ion-button expand="block" href="cidade-en">Routes</ion-button>
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>