<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="cidade-en">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>Libraries > São Paulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
<ion-card class="welcome-card">
      <img src="/assets/sao-paulo.jpeg" alt="São Paulo" />
      <ion-card-header>
        <ion-card-subtitle>MIL City level - 60%</ion-card-subtitle>
        <ion-card-title>São Paulo, SP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-card-content>
    </ion-card>
<h1>Libraries</h1>
<ion-list>
        <ion-list-header>KPIs</ion-list-header>
        <ion-item href="bibliotecas-mil-en">
          <ion-label text-wrap>Libraries according to MIL concepts</ion-label>
          <ion-badge color="success" slot="end">2</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil-en">
          <ion-label text-wrap>Number of actions and workshops with authors, focused on adolescents and young people, teaching how to search and find safe sources for research, perform the Libraries per year</ion-label>
          <ion-badge color="success" slot="end">8</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil-en">
          <ion-label text-wrap>Number of actions and workshops with authors, focused on women, blacks, disabled, emigrants and other vulnerable groups, teaching how to search and find safe sources for research, carry out the Libraries per year</ion-label>
          <ion-badge color="success" slot="end">5</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil-en">
          <ion-label text-wrap>How many actions promote the Library Day Schools and encourage their use and reading in physical and digital media</ion-label>
          <ion-badge color="success" slot="end">12</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil-en">
          <ion-label text-wrap>Number of startups focused on democratization of information and creation of virtual libraries own the city</ion-label>
          <ion-badge color="success" slot="end">150</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil-en">
          <ion-label text-wrap>Number of virtual libraries that make their content freely available to the population</ion-label>
          <ion-badge color="success" slot="end">2</ion-badge>
        </ion-item>
      </ion-list>

</ion-content>