<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="home">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>São Paulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <img src="/assets/sao-paulo.jpeg" alt="São Paulo" />
      <ion-card-header>
        <ion-card-subtitle>Índice Cidade MIL - 60%</ion-card-subtitle>
        <ion-card-title>São Paulo, SP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-list-header>Assuntos</ion-list-header>
        <ion-item href="bibliotecas">
          <ion-label>Bibliotecas</ion-label>
          <ion-badge color="success" slot="end">2</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Patrimônio</ion-label>
          <ion-badge color="danger" slot="end">0</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Modais e meios de transporte</ion-label>
          <ion-badge color="success" slot="end">5</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Prefeitura, Instituições Públicas e Cidadania</ion-label>
          <ion-badge color="warning" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Saúde</ion-label>
          <ion-badge color="warning" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Cultura, arte, lazer e turismo</ion-label>
          <ion-badge color="danger" slot="end">0</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Educação</ion-label>
          <ion-badge color="warning" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Associações, sindicatos, ONGs, projetos sócio-culturais e outros atores não tradicionais</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Mídias e meios de comunicação</ion-label>
          <ion-badge color="danger" slot="end">0</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Inteligência artificial, startups e canais digitais</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Segurança</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Meio ambiente e sustentabilidade</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Jovens </ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas">
          <ion-label>Métricas de Integração </ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
      </ion-list>
</ion-content>
