<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="cidade">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>Bibliotecas > São Paulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
<ion-card class="welcome-card">
      <img src="/assets/sao-paulo.jpeg" alt="São Paulo" />
      <ion-card-header>
        <ion-card-subtitle>Índice Cidade MIL - 60%</ion-card-subtitle>
        <ion-card-title>São Paulo, SP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-card-content>
    </ion-card>
<h1>Bibliotecas</h1>
<ion-list>
        <ion-list-header>Indicadores</ion-list-header>
        <ion-item href="bibliotecas-mil">
          <ion-label text-wrap>Bibliotecas com conteitos MIL</ion-label>
          <ion-badge color="success" slot="end">2</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil">
          <ion-label text-wrap>Ações e workshops com autores, focadas em adolescentes e jovens, ensinando como pesquisar e encontrar fontes seguras para pesquisa, realizam por ano as Bibliotecas</ion-label>
          <ion-badge color="success" slot="end">8</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil">
          <ion-label text-wrap>Ações e workshops com autores, focadas em mulheres, negros, deficientes, emigrantes e outros grupos vulneráveis, ensinando como pesquisar e encontrar fontes seguras para pesquisa, realizam por ano as Bibliotecas</ion-label>
          <ion-badge color="success" slot="end">5</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil">
          <ion-label text-wrap>Ações promovidas pelas Escolas relativas ao Dia de Biblioteca e estimulando o uso das mesmas e a leitura em meios físicos e digitais</ion-label>
          <ion-badge color="success" slot="end">12</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil">
          <ion-label text-wrap>Startups com foco na democratização da informação e criação de Bibliotecas virtuais possui a cidade</ion-label>
          <ion-badge color="success" slot="end">150</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-mil">
          <ion-label text-wrap>Bibliotecas virtuais que disponibilizam seu conteúdo gratuitamente para a população</ion-label>
          <ion-badge color="success" slot="end">2</ion-badge>
        </ion-item>
      </ion-list>

</ion-content>
