<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="home-en">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <img src="/assets/sao-paulo.jpeg" alt="São Paulo" />
      <ion-card-header>
        <ion-card-subtitle>MIL City level - 60%</ion-card-subtitle>
        <ion-card-title>{{data.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-list-header>Subjects</ion-list-header>
        <ion-item href="bibliotecas-en">
          <ion-label>Libraries</ion-label>
          <ion-badge color="success" slot="end">2</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Patrimony</ion-label>
          <ion-badge color="danger" slot="end">0</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Modes and means of transport</ion-label>
          <ion-badge color="success" slot="end">5</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>City Hall, public institutions and citizenship</ion-label>
          <ion-badge color="warning" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Public Health</ion-label>
          <ion-badge color="warning" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Culture, art, sport, leisure and tourism</ion-label>
          <ion-badge color="danger" slot="end">0</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Education</ion-label>
          <ion-badge color="warning" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Associations, unions, NGOs, socio-cultural projects
and other non-traditional actors</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Media and Media</ion-label>
          <ion-badge color="danger" slot="end">0</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Artificial intelligence, startups and digital channels</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Safety</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Environment and sustainability</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Youth</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
        <ion-item href="bibliotecas-en">
          <ion-label>Integration Metrics</ion-label>
          <ion-badge color="success" slot="end">1</ion-badge>
        </ion-item>
      </ion-list>
</ion-content>